html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 让 app-container 占满整个视窗高度 */
}

app-title-bar {
    flex-shrink: 0; /* 固定标题栏大小 */
}

.content {
    flex-grow: 1; /* 占据剩余的高度 */
    overflow-y: auto; /* 当内容过多时允许滚动 */
}