<div class="container">
    <div class="sidebar">
        <div>
            <img alt="" src="assets/images/icon/gpp_maybe.svg">
            <span>常规设置</span>
        </div>
        <div>
            <img alt="" src="assets/images/icon/gpp_maybe.svg">
            <span>通知管理</span>
        </div>
        <div>
            <img alt="" src="assets/images/icon/gpp_maybe.svg">
            <span>安全管理</span>
        </div>
        <div>
            <img alt="" src="assets/images/icon/gpp_maybe.svg">
            <span>存储管理</span>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>