:host {
    display: flex; /* 或 flex */
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 子元素不再拉伸 */
}

.user-info {
    padding-top: 1rem;
    display: flex;
}

.user-info-context {
    display: flex;
    flex-direction: column; /* 让用户名和消息在垂直方向排列 */
    padding-left: 1rem;
    justify-content: center;
}

.avatar {
    border-radius: 10px;
}

.user_id {
    margin-top: 1rem;
}