<div class="container">
    <div *ngIf="commonDataService.getUserInfo(commonDataService.clientUserId)" class="user-info">
        <img alt="avatar" class="avatar" height="64" ngSrc="images/avatar/default-avatar.png" width="64">
        <div class="user-info-context">
            <span class="username">{{ commonDataService.getUserInfo(commonDataService.clientUserId)['user_nickname'] }}</span>
            <span class="user_id">用户ID: {{ commonDataService.getUserInfo(commonDataService.clientUserId)['user_id'] }}</span>
        </div>
    </div>
</div>