<div class="session-list">
    <ng-container *ngIf="!serverInfo">
        <div (click)="getServerChannels(serverId)" *ngFor="let serverId of commonDataService['servers']"
             class="session">
            <img alt="" class="avatar" height="48" ngSrc="../../../../public/images/avatar/default-avatar.png" width="48">
            <span>{{ commonDataService.getServerInfoById(serverId)['name'] }}</span>
        </div>
    </ng-container>
    <div *ngIf="serverInfo">
        <div class="channel-title">
            <img (click)="backToSessionList()" alt="back" height="24" ngSrc="../../../../public/images/icon/arrow_back.svg"
                 width="24">
            <span class="server-name">{{ serverInfo['name'] }}</span>
        </div>
        <div class="channel-list">
            <div *ngFor="let group of serverInfo['channels']" class="channel-group">
                <h3 class="channel-group-title">{{ group['group_name'] }}</h3>
                <ul class="channel-group-list">
                    <li (click)="toChat(channel['channel_id'],channel['channel_type'])"
                        *ngFor="let channel of group['channels']"
                        class="channel">
                        {{ channel['channel_name'] }} - {{ channel['channel_type'] }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>